[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/qmk/ChibiOS
	branch = master
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/qmk/ChibiOS-Contrib
	branch = master
[submodule "lib/ugfx"]
	path = lib/ugfx
	url = https://github.com/qmk/uGFX
	branch = master
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/qmk/googletest
[submodule "lib/lufa"]
	path = lib/lufa
	url = https://github.com/qmk/lufa
[submodule "lib/vusb"]
	path = lib/vusb
	url = https://github.com/qmk/v-usb
[submodule "lib/printf"]
	path = lib/printf
	url = https://github.com/qmk/printf
[submodule "keyboards/slimy/lib/Arduino-teensy"]
	path = keyboards/slimy/lib/Arduino-teensy
	url = git@github.com:PaulStoffregen/cores.git
[submodule "keyboards/lib/Adafruit-ST7735"]
	path = keyboards/lib/Adafruit-ST7735
	url = git@github.com:adafruit/Adafruit-ST7735-Library.git
[submodule "keyboards/lib/Adafruit-GFX"]
	path = keyboards/lib/Adafruit-GFX
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "keyboards/slimy/lib/Adafruit-GFX"]
	path = keyboards/slimy/lib/Adafruit-GFX
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "keyboards/slimy/lib/Adafruit-ST7735"]
	path = keyboards/slimy/lib/Adafruit-ST7735
	url = git@github.com:adafruit/Adafruit-ST7735-Library.git
[submodule "keyboards/slimy/lib/SPI"]
	path = keyboards/slimy/lib/SPI
	url = git@github.com:PaulStoffregen/SPI.git
